<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>JS Board thingy</title>
	<link href="/assets/styles.css" rel="stylesheet" type="text/css" />
	<script src="/assets/script.js">
	</script>
  <script src="/assets/jquery.js"></script>
</head>

<body>
  <%- include("./ejs/nav.ejs") %>
	<div class="flow-root min-h-screen bg-gradient-to-br from-green-400 to-indigo-600">
		<div class="bg-coolGray-700 shadow-md px-0 sd:px-8 pb-8 mb-2 flex flex-col my-2 mx-10 md:mx-56 lg:mx-96 md:my-10 rounded">
			<h2 class="text-center text-2xl sm:text-4xl font-sans text-gray-200 my-4">JSBoard Setup</h2>

			<div class="main mx-20 md:mx-0 md:items-center">
				<center>
					<form class="pt-5">
						<input
     
        type="text"
        id="sitename"
        name="sitename"
        placeholder="Site name"
        required
      /><br />
      <input
         
        type="text"
        id="secret"
        name="secret"
        placeholder="Cookies secret (optional)"
      /><br />
      <select class="dbengine" id="dbengine" name="dbengine" onchange="pickoption()" required>
        <option value="mongodb">MongoDB</option>
        <option value="sql">SQL</option>
        <option value="mysql">MySQL</option></select
      ><br />
  <script>
    document.getElementById("dbengine").selectedIndex = -1;
  </script>
    <div id="mysql">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="MySQL Email"
        required
       
      /><br />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="MySQL Password"
        required
       
      /><br />
      <input
        type="text"
        id="url"
        name="url"
        placeholder="MySQL URL"
        required
       
      /><br />
      <input
        type="text"
        id="db"
        name="db"
        placeholder="MySQL DB"
        required
       
      /><br />
    </div>
  <div id="mongodb">
    <input
      type="text"
      id="url"
      name="url"
      placeholder="MongoDB URL"
      required
       
    /><br />
  </div>
  <div id="adminlogin">
    <input
      type="email"
      id="email"
      name="email"
      placeholder="User Email"
      required
       
    /><br />
    <input
      type="password"
      id="password"
      name="password"
      placeholder="User Password"
      required
       
    /><br />
    <input
      type="text"
      id="username"
      name="username"
      placeholder="User Name"
      required
       
    /><br />
  </div>
    
  </div>
      <center>
      <input type="submit" value="Next" class="focus:outline-none text-white text-lg py-2.5 px-5 rounded-md bg-blue-500 hover:bg-blue-600 hover:shadow-lg w-1/2 md:w-4/12 h-16 mb-4 cursor-pointer font-sans m-10 shadow">
      <!--<input type="reset" value="clear" class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-gray-500 hover:bg-gray-600 hover:shadow-lg w-32 h-10 cursor-pointer font-sans mx-20">-->
          
    </center>  
  </form>
  
  </div>
  </div>
  </div>
  <%- include("./ejs/footer.ejs") %>
</body>
</html>
<script>
  document.getElementById("mysql").style.display = "none";
  document.getElementById("mongodb").style.display = "none";
  function pickoption(){
  let value = document.getElementById("dbengine").value;
  if(value==="sql"){
    document.getElementById("mysql").style.display = "none";
    document.getElementById("mongodb").style.display = "none";
  } else if (value==="mongodb"){
    document.getElementById("mysql").style.display = "none";
    document.getElementById("mongodb").style.display = "";
  }else if (value==="mysql"){
    document.getElementById("mysql").style.display = "";
    document.getElementById("mongodb").style.display = "none";
  }
}
</script>
