@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");

.bg-coolGray-800 {
  background: #1f2124;
}

.bg-coolGray-700 {
  background: #2C2F33;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=dbengine], .dbengine, select {
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #23272A;
  color: #E5E5E5;
}

@media all and (max-width: 768px) {
  input[type=text], input[type=password], input[type=email], input[type=url], .dbengine, select {
    width: 100%;
    padding: 12px 30px;
  }

  .alignfix {
    margin-left:11%
  }
}

@media all and (min-width: 769px) {
  input[type=text], input[type=password], input[type=email], input[type=url],.dbengine, select {
    width: 60%;
    padding: 12px 20px;
  }

  .alignfix {
    margin-left:8%
  }
}

@media all and (min-width: 1024px) {
  input[type=text], input[type=password], input[type=email], input[type=url], .dbengine, select {
    width: 80%;
    padding: 12px 20px;
  }
}